<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="jsnlog" type="JSNLog.ConfigurationSectionHandler, JSNLog" requirePermission="false"/>
  </configSections>
  <elmah>
    <errorMail from="danny_carr@hotmail.co.uk"
           to="smarkbot@outlook.com"
           subject="Application Exception"
           async="false"
           useSsl="true"
           smtpPort="587"
           smtpServer="smtp-mail.outlook.com"
           userName="danny_carr@hotmail.co.uk"
           password="#3vert0n5">
    </errorMail>
    <errorFilter>
      <test>
        <and>
          <is-type binding="Exception" type="SmarkBotTestForm.ElmahMessageLevelException, SmarkBotTestForm"/>
          <regex binding="FilterSourceType.Name" pattern="mail"/>
        </and>
      </test>
    </errorFilter>
  </elmah>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.net>
    <mailSettings>
      <smtp deliveryMethod ="Network">
        <network host="smtp-mail.outlook.com" port="587" enableSsl="true" userName="danny_carr@hotmail.co.uk" password="#3vert0n5"  />
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>